body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }

.cabecalho{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textopri{

    align-items: start;
    display: flex;
    margin: 30px;

}