body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }

.cabecalho{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 28, 101);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.textopri{

    color: aliceblue;
    align-items: start;
    display: flex;
    margin: 30px;
    flex-direction: column;


}

ul {
    list-style-type: none; /* Remove os marcadores */
    padding: 0; 
    margin: 0;    
}

.H3 {
    margin-bottom: 10px; /* Adiciona um espaço abaixo do h3 */
}

.Titulo {
    margin-top: 0; /* Remove o espaço acima do h1, se houver */
}